body {background-color:#000000;}
div.highcharts-container {padding:17px; position: relative; width: 90%; height: 200px; margin: 0 auto; float:left;overflow: hidden;text-align:left;}
div#Disk{padding:17px; position: relative; width: 40%; height: 300px; margin: 0 auto; float:left;overflow: hidden;text-align:left;}
